.footer {
	width: 100%;
	text-align: center;
	color: white;
	padding: 1em;
	background-color: #090b15;
	font-size: 1.5rem;
}

.footer p {
	margin-bottom: 0.5em;
}

.footerText {
	color: rgba(0, 76, 255, 0.799);
	text-transform: uppercase;
}
