.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	background-color: #090b15ca;
	min-width: 100vw;
	z-index: 50;
	height: 10em;
}

.navbar h1 {
	display: flex;
	align-items: center;
	justify-content: center;

}

.navbar h1 img {
	margin: 0 0.4em;
	width: auto;
	height: auto;
}

.navbar h1 .planeLeft {
	transform: rotateZ(130deg);
}
.navbar h1 .planeRight {
	transform: rotateZ(-50deg);
}

@media (max-width: 330px){
	.navbar {
		height: 8em;
	}
}

@media (min-width: 576px) {
	.navbar h1 {
		font-size: 1.5rem;
	}
}

@media (min-width: 992px) {
	.navbar {
		height: 12em;
	}

	.navbar h1 {
		font-size: 2.5rem;
	}
}
